
<body>
<div class="container1">
    <input  type="text" />
    <input type="number" />
</div>
<div class="container">
  <form [formGroup]="userForm" (submit)="addUser()">
    <input  type="text" formControlName="name"/>
    <input type="number" formControlName="sal"/>
    <div formGroupName="address">
        <input type="text" formControlName="line1"/>
        <input type="text" formControlName="apt"/>
        <input type="text" formControlName="city"/>
    <input type="text" formControlName="state"/>
    <input type="text" formControlName="zip"/>
    </div>
    <input type="submit" />
  </form>
</div>
</body>