
  <!-- <p>login works</p>
  
  <div>

  
  <input type="text" name="userName" id="userName"  [(ngModel)]="userName" />
  <button type="submit" class="btn btn-primary" (click)="logIn()">Log In</button>
</div>
<div>
  <button type="submit" class="btn btn-danger fadeIn fourth" (click)="logOut()">Logout</button>
</div>  -->


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="userName" name="userName" placeholder="User Name">
      <select calss="dropDownMenu" [(ngModel)]="role" name="role">
        <option>visitor</option>
        <option>admin</option>
        </select>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="logIn()">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->

  </div>
</div>
